/Practica string y fechas/build/
/Capitulo 3 ejercicio 4/nbproject/private/
/Capitulo 3 ejercicio 4/build/
/Palindromo/nbproject/private/
/Palindromo/build/
/capitulo 3 ejercicio 5/nbproject/private/
/capitulo 3 ejercicio 5/build/
/Capitulo 3 Ejercicio 6/nbproject/private/
/Capitulo 3 Ejercicio 6/build/
/Capitulo 3 Ejercicio 7/nbproject/private/
/Ejemplo Exception/nbproject/private/
/Ejemplo Exception/build/
/Capitulo 3 Ejercicio 7/build/
/Capitulo 3 Practica 3 Ejercicio 1/nbproject/private/
/Capitulo 3 Practica 3 Ejercicio 1/build/
/Capitulo 3 Practica 3 Ejercicio 2/nbproject/private/
/Capitulo 3 Practica 3 Ejercicio 2/build/
/Capitulo 3 Practica 3 Ejercicio 3/nbproject/private/
/Capitulo 3 Practica 3 Ejercicio 3/build/