/Practica string y fechas/build/
/Capitulo 3 ejercicio 4/nbproject/private/
/Capitulo 3 ejercicio 4/build/
/Palindromo/nbproject/private/
/Palindromo/build/
/capitulo 3 ejercicio 5/nbproject/private/
/capitulo 3 ejercicio 5/build/